@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

.homepage-container {
    width: 100%;
    height: 90vh;

    display: relative;
}

.nav-container {
    width: 100%;
    height: 17%;
    background-color: rgb(255, 173, 20);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-logo-container {
    width: 310px;
    height: 100%;
    margin-left: 75px;

    display: flex;
    align-items: center;
    justify-content: center;

    /* background-image: url(../IMAGES/ryparis-logo.png);
    background-repeat: no-repeat;
    background-size: cover; */

    z-index: 1;

    cursor: pointer;
}


.nav-logo-container img {
    height: 120px;
}

.nav-links-container {
    width: 50%;
    height: 100%;
    margin-right: 100px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-links-container ul li {
    padding-left: 25px;
    list-style-type: none;
    display: inline;
    font-size: 23px;    
    font-weight: 500;
}

li a {
    text-decoration: none;
    color: black;
}

.homepage-image-container {
    width: 100%;
    height: 80%;
    position: relative;

    margin-top: 5px;

    background-image: url(../IMAGES/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.homepage-title {
    width: 465px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 750;
    font-size: 30px;

    display: relative;
}

.homepage-title h1 {
    padding: 5px 30px;
    font-weight: 900;
    font-size: 55px;
    
    position: absolute;
    left: 21%;
    bottom: 80px;
    background-color: whitesmoke;
}

.everyday-categories-container {
    width: 100%;
    height: 75vh;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
} 

.everyday-content-wrapper {
    width: 85%;
    height: 70%;

    position: absolute;
    top: 50px;
}

.everyday-title {
    width: 100%;
    height: 17%;
}

.everyday-description {
    width: 100%;
    height: 20%;
    padding-bottom: 50px;
}

.everyday-images {
    width: 100%;
    height: 69%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.everyday-title-style {
    font-size: 44px;
    font-weight: 850;
}

.everyday-discription-style {
    font-size: 23px;
    font-weight: 600;
}

.everyday-image-1 {
    width: 100%;
    height: 100%;
    background-image: url(../IMAGES/breakfast-ideas.jpg);
    background-size: cover;
    background-position: center;
}

.everyday-image-2 {
    width: 100%;
    height: 100%;
    background-image: url(../IMAGES/vegetarian-ideas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.everyday-image-3 {
    width: 100%;
    height: 100%;
    background-image: url(../IMAGES/cold-weather-dinners.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.everyday-subtitle {
    width: 100%;
    height: 30px;
    padding: 10px 0;
    background-color: white;
    text-align: center;
}

.everyday-item {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.healthy-recipes-container {
    width: 100%;
    height: 67vh;
    background-color: rgb(217, 228, 255);

    padding-bottom: 10px;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}


.healthy-content-wrapper {
    width: 85%;
    height: 75%;

    position: absolute;
    top: 55px;
}

.healthy-title {
    width: 100%;
    height: 17%;
}

.healthy-description {
    width: 100%;
    height: 20%;
    padding-bottom: 25px;
}

.healthy-images {
    width: 100%;
    height: 62%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.healthy-title-style {
    font-size: 44px;
    font-weight: 850;
}

.healthy-discription-style {
    font-size: 23px;
    font-weight: 600;
}

.healthy-image-1 {
    width: 100%;
    height: 100%;
    background-image: url(../IMAGES/fajita-peppers.jpeg);
    background-size: cover;
    background-position: center;
}

.healthy-image-2 {
    width: 100%;
    height: 100%;
    background-image: url(../IMAGES/muffins.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.healthy-image-3 {
    width: 100%;
    height: 100%;
    background-image: url(../IMAGES/eggplant-parmesan.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.healthy-image-4 {
    width: 100%;
    height: 100%;
    background-image: url(../IMAGES/teriyaki-chicken-www.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.healthy-subtitle {
    width: 100%;
    height: 30px;
    padding: 10px 0;
    background-color: white;
    text-align: center;
}

.healthy-item {
    width: 22%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.whereto-container {
    width: 100%;
    height: 95vh;

    margin-bottom: 100px;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}


.whereto-content-wrapper {
    width: 85%;
    height: 70%;

    position: absolute;
    top: 60px;
}

.whereto-title {
    width: 100%;
    height: 15%;
}

.whereto-description {
    width: 100%;
    height: 20%;

    margin-bottom: 50px;
}


.whereto-images {
    width: 100%;
    height: 65%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.whereto-title-style {
    font-size: 44px;
    font-weight: 850;
}

.whereto-discription-style {
    font-size: 23px;
    font-weight: 600;
}

.whereto-image-1 {
    width: 100%;
    height: 100%;
    background-image: url(../IMAGES/burger.jpg);
    background-size: cover;
    background-position: center;
    border: 8px solid rgb(217, 228, 255);
}

.whereto-image-2 {
    width: 100%;
    height: 100%;
    background-image: url(../IMAGES/pizza.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 8px solid rgb(217, 228, 255);
}

.whereto-image-3 {
    width: 100%;
    height: 100%;
    background-image: url(../IMAGES/vegetable_bowl.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 8px solid rgb(217, 228, 255);
}


.whereto-subtitle {
    width: 100%;
    height: 30px;
    padding: 10px 0;
    background-color: white;
    text-align: center;
}

.whereto-item {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.footer-container {
    width: 100%;
    height: 16%;
    background-color: rgb(255, 173, 20);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-logo-container {
    width: 250px;
    height: 100%;
    margin-left: 75px;
    font-size: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-links-container {
    width: 50%;
    height: 100%;
    margin-right: 135px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-links-container ul li {
    padding-left: 15px;
    list-style-type: none;
    display: inline;
    font-size: 23px;    
    font-weight: 500;
}

.footer-links-container ul li {
    font-size: 18px;
}


.recipepage-container {
    width: 100%;
    height: 90vh;

    display: relative;
}

.recipepage-image-container {
    width: 100%;
    height: 80%;
    position: relative;

    background-image: url(../IMAGES/pexels-valeriya-1639565.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 70%;
}

.recipe-overview {
    width: 100%;
    height: 150px;
    background-color: rgb(217, 228, 255);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recipe-overview-title {
    width: 80%;
    height: 30%;
    margin-bottom: 5px;

    display: flex;
    align-items: center;
}

.recipe-overview-title h3 {
    font-size: 28px;
    font-weight: 950;
}

.recipe-overview-info {
    width: 80%;
    height: 35%;

    display: flex;
    align-items: center;
}


.overview-item  {
    width: 24%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overview-item span {
    font-weight: bolder;
    font-size: 16px;
}

.recipe-description-container {
    width: 100%;
    height: 425px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description-title {
    width: 80%;
    height: 15%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.description-title h1 {
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
}

.description-rating {
    width: 80%;
    height: 8%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.star-wrapper i {
    color: rgb(151, 35, 35);
}

.description-rating h4 {
    font-weight: 500;
}

.description-save {
    width: 80%;
    height: 15%;
    margin-bottom: 35px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.save-button {
    background-color: rgb(151, 35, 35);
    padding: 8px 25px;
    border-radius: 40px;
    color: whitesmoke
}

.printer-button {
    padding: 10px 12px;
    border-radius: 30px;
    border: 1px solid #2a2a2a;

    background-color: inherit;
}

.description-save i {
    font-size: 18px;
    color: #2a2a2a
}

.description-quote {
    width: 80%;
    height: 40%;
    background-color: rgb(231, 238, 255);

    display: flex;
    justify-content: center;
    align-items: center;
}

.description-quote span {
    width: 78%;
    text-align: center;
    font-size: 21px;
    font-weight: 800;
    color: #393939
}

.recipe-content-wrapper {
    width: 100%;
    height: 155vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ingredients-container {
    width: 40%;
    height: 88%;
    display: flex;
    flex-direction: column;
}

.directions-containter {
    width: 40%;
    height: 88%;
    display: flex;
    flex-direction: column;
}

.info-maintitle {
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
}

.info-maintitle h1 {
    font-size: 30px;
    font-weight: 800;
}

.quick-fix {
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
}

.info-subtitle {
    width: 100%;
    height: 3%;

    display: flex;
    align-items: center;
}

.info-subtitle h4 {
    font-size: 17px;
    font-weight: 700;
}



.info-unordered-list {
    width: 100%;
    height: 28%;
}

.info-unordered-list ul li {
    font-size: 18px;
    margin-left: 30px;
}

.info-ordered-list {
    width: 100%;
    height: 1200px;

}

.info-ordered-list ol li {
    font-size: 18px;
    margin-left: 30px;
    padding-bottom: 30px;
}